.title-header {
    margin-bottom: 5%;
    padding: 3% 2% 0%;
    text-align: center;
}

.title-name {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 228, 109);
    font-size: 2.4em;
    margin: 5% 2% 5% 2%;
}

.title-sub {
    color: rgb(240, 238, 233);
    font-family: 'Roboto', sans-serif;
}

.landing-sub-header {
    color: rgb(82, 171, 255);
    font-size: 1.5em;
}

.view-logs-btn {
    background-color: rgb(133, 228, 109);
    border: none;
    border-radius: 5px;
    padding: 2%;
}

.view-logs-btn:hover {
    background-color: rgb(101, 199, 76);
    transition: 0.2s ease-out;
}

.view-logs-btn a {
    color: rgb(75, 71, 68);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.view-logs-btn a:hover {
    color: rgb(240, 238, 233);
    transition: 0.2s ease-out;
}

.view-logs-btn a:focus {
    color: rgb(48, 141, 25);
    border-bottom: 2px solid;
}

.view-logs-btn a:active {
    color: rgb(75, 71, 68);
    transition: 0.1s ease-out;
}

.my-logs-gif,
.add-eatery-gif,
.add-log-gif {
    border: 2px solid rgb(224, 220, 216);
    border-radius: 4%;
    margin-top: 2%;
    width: 90%;
}

@media screen and (min-width: 320px) and (max-width: 400px){
    .title-name {
        font-size: 1.8em;
    }

    .title-sub {
        font-size: 1.1em;
    }

    .landing-sub-header {
        font-size: 1.2em;
    }

    .landing-info {
        font-size: 0.8em;
        padding: 0%;
    }

    .my-logs-gif,
    .add-eatery-gif,
    .add-log-gif {
        width: 100%;
    }

    .view-logs-btn {
        padding: 3.5%;
    }

    .view-logs-btn a {
        font-size: 1.7em;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .title-name {
        font-size: 2.1em;
    }

    .title-sub {
        font-size: 1.2em;
    }

    .landing-sub-header {
        font-size: 1.3em;
    }

    .landing-info {
        font-size: 01em;
        padding: 0%;
    }

    .my-logs-gif,
    .add-eatery-gif,
    .add-log-gif {
        width: 100%;
    }

    .view-logs-btn {
        padding: 3%;
    }

    .view-logs-btn a {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .my-logs-gif,
    .add-eatery-gif,
    .add-log-gif {
        width: 100%;
    }
}
