.landing-sub-header {
    color: rgb(82, 171, 255);
}

.title-header {
    margin-bottom: 5%;
    padding: 3% 2% 0%;
    text-align: center;
}

.title-name {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 228, 109);
    font-size: 2.4em;
    margin: 5% 2% 5% 2%;
}

.title-sub {
    color: rgb(240, 238, 233);
    font-family: 'Roboto', sans-serif;
}

.view-logs-btn {
    background-color: rgb(133, 228, 109);
    border: none;
    border-radius: 5px;
    padding: 2%;
}

.view-logs-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(101, 199, 76);
}

.view-logs-btn a {
    color: rgb(75, 71, 68);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.view-logs-btn a:hover {
    color: rgb(240, 238, 233);
    transition: 0.2s ease-out;
}

.view-logs-btn a:focus {
    color: rgb(75, 71, 68);
    border-bottom: 2px solid;
}

.view-logs-btn a:active {
    color: rgb(253, 234, 148);
    transition: 0.1s ease-out;
}
