.eatery-name {
    color: rgb(82, 171, 255);
}

.eatery-info {
    padding-bottom: 1.5%;
}

.edit-eatery-btn {
    background-color: rgb(51, 48, 46);
    border: 1px solid rgb(82, 171, 255);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 3%;
    padding: 1.3%;
}

.edit-eatery-btn:hover {
    background-color: rgb(82, 171, 255);
    transition: 0.2s ease-out;
}

.blue-pencil {
    color: rgb(82, 171, 255);
    font-size: 2.1em;
}

.blue-pencil:hover {
    color: rgb(75, 71, 68);
    transition: 0.2s ease-out;
}

.delete-eatery-btn {
    background-color: rgb(51, 48, 46);
    border: 1px solid rgb(224, 220, 216);
    border-radius: 4px;
    cursor: pointer;
    padding: 1.3%;
}

.delete-eatery-btn:hover {
    background-color: rgb(223, 109, 105);
    border: 1px solid rgb(223, 109, 105);
    transition: 0.2s ease-out;
}

.eatery-trash-can {
    color: rgb(223, 109, 105);
    font-size: 2.1em;
}

.eatery-trash-can:hover {
    color: rgb(75, 71, 68);
    transition: 0.2s ease-out;
}

.phone-text,
.address-text,
.notes-text {
    font-weight: bold;
}

.disclaimer-star {
    color: rgb(228, 125, 121);
    font-size: 1.4em;
    padding-left: 1%;
}

@media screen and (min-width: 320px) and (max-width: 400px){
    .eatery {
        margin: 0% 2.5% 10% 2.5%;
        padding: 0% 2% 3% 2%;
    }
    
    .eatery-name {
        font-size: 1.2em;
    }

    .phone-number,
    .address,
    .eatery-notes {
        font-size: 0.87em;
    }

    .eatery-info {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .edit-eatery-btn {
        margin-right: 6%;
    }

    .blue-pencil,
    .eatery-trash-can {
        font-size: 1.8em;
    }

    .edit-eatery-btn,
    .delete-eatery-btn {
        padding: 2.5%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .eatery {
        margin: 0% 3% 8% 3%;
        padding: 0% 3% 3% 3%;
    }

    .eatery-name {
        font-size: 1.3em;
    }

    .phone-number,
    .address,
    .eatery-notes {
        font-size: 0.95em;
    }

    .eatery-info {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .edit-eatery-btn {
        margin-right: 4.5%;
    }

    .blue-pencil,
    .eatery-trash-can {
        font-size: 1.8em;
    }

    .edit-eatery-btn,
    .delete-eatery-btn {
        padding: 2%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .eatery {
        margin: 0% 4.5% 6% 4.5%;
        padding: 0% 3.5% 4% 3.5%;
    }

    .edit-eatery-btn {
        margin-right: 3.5%;
    }

}