.eatery-name {
    color: rgb(255, 243, 82);
}

.edit-eatery-btn {
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
}

.delete-eatery-btn {
    cursor: pointer;
    padding: 0.5% 0.7% 0.5% 0.7%;
}
