.eatery-name {
    color: rgb(82, 171, 255);
}

.edit-eatery-btn {
    background-color: rgb(51, 48, 46);
    cursor: pointer;
    margin-right: 2%;
    padding: 0.5%;
}

.delete-eatery-btn {
    background-color: rgb(51, 48, 46);
    cursor: pointer;
    padding: 0.5% 0.7% 0.5% 0.7%;
}

.phone-text,
.address-text,
.notes-text {
    font-weight: bold;
}

.disclaimer-star {
    color: rgb(228, 125, 121);
}
