.add-eatery-page {
    margin-bottom: 30%;
    padding: 0% 5% 5% 5%;
}

.add-eatery-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.add-eatery-text {
    color: rgb(82, 171, 255);
    cursor: default;
    margin: 5% 2% 2% 2%;
}

.add-eatery-form-btn {
    background-color: rgb(51, 48, 46);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding-top: 0.6%;
}

.add-eatery-back-btn {
    background-color: rgb(51, 48, 46);
    margin-right: 3%;
}

.add-eatery-back-btn a {
    font-family: 'Roboto', sans-serif;
}