.add-eatery-page {
    margin-bottom: 30%;
    padding: 0% 5% 5% 5%;
}

.add-eatery-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.add-eatery-text {
    color: rgb(255, 243, 82);
    cursor: default;
    margin: 5% 2% 2% 2%;
}

.add-eatery-form-btn {
    cursor: pointer;
}
