.add-eatery-btn {
    padding: 1%;
}

.disclaimer {
    font-size: 95%;
    margin-left: 0.5%;
}

.my-eateries-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.my-eateries-title {
    margin: 5% 2% 2% 2%;
}
