.add-eatery-btn {
    background-color: rgb(82, 171, 255);
    border: none;
    border-radius: 5px;
    margin-top: 2.5%;
    padding: 1.5%;
}

.add-eatery-btn:hover {
    background-color: rgb(53, 137, 216);
    transition: 0.2s ease-out;
}

.add-eatery-btn a {
    font-family: 'Roboto', sans-serif;
    color: rgb(75, 71, 68);
    font-size: 1.5em;
    font-weight: bold;
}

.add-eatery-btn a:hover {
    color: rgb(240, 238, 233);
    transition: 0.1s ease-out;
}

.add-eatery-btn a:focus {
    color: rgb(43, 95, 163);
    border-bottom: 2px solid;
}

.add-eatery-btn a:active {
    transition: 0.1s ease-out;
    color: rgb(148, 228, 253);
}

.disclaimer {
    font-size: 95%;
    margin-left: 0.5%;
}

.disclaimer-bold {
    color: rgb(228, 125, 121);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.disclaimer-text {
    color: rgb(228, 125, 121);
    font-family: 'Roboto', sans-serif;
}

.my-eateries-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.my-eateries-title {
    font-family: 'Roboto', sans-serif;
    margin: 5% 2% 2% 2%;
}
