.edit-eatery-page {
    margin-bottom: 30%;
    padding: 0% 5% 5% 5%;
}

.edit-eatery-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.edit-eatery-text {
    color: rgb(82, 171, 255);
    cursor: default;
    font-family: 'Roboto', sans-serif;
    margin: 5% 2% 2% 2%;
}

.edit-eatery-back-btn a {
    font-family: 'Roboto', sans-serif;
}

.edit-eatery-form-btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding-top: 0.7%;
}

.required-fields {
    font-family: 'Roboto', sans-serif;
}