.add-log-btn {
    padding: 1%;
}

.add-log-btn a {
    color: rgb(133, 228, 109);
}

.add-log-btn a:hover {
    transition: 0.1s ease-out;
    color: rgb(253, 234, 148);
}

.add-log-btn a:focus {
    color: rgb(174, 255, 143);
    border-bottom: 2px solid;
}

.add-log-btn a:active {
    transition: 0.1s ease-out;
    color: rgb(253, 234, 148);
}

.delete-log-btn {
    cursor: pointer;
    padding: 0.5% 0.7% 0.5% 0.7%;
}

.edit-log-btn {
    cursor: pointer;
    margin-left: 1%;
    margin-right: 0.5%;
    padding: 0.5%;
}

.item-info .rating, 
.item-info .last-date {
    display: inline-block;
    padding: 0% 1.5% 0% 1.5%;
}

.my-logs-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.my-logs-title {
    margin: 5% 2% 2% 2%;
}
