.add-log-btn {
    padding: 1%;
}

.edit-log-btn {
    cursor: pointer;
    margin-left: 1%;
    margin-right: 0.5%;
    padding: 0.5%;
}

.delete-log-btn {
    cursor: pointer;
    padding: 0.5%;
}

.item-info .rating, 
.item-info .last-date {
    display: inline-block;
    padding: 0% 1.5% 0% 1.5%;
}

.my-logs-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.my-logs-title {
    margin: 5% 2% 2% 2%;
}

.searchby {
    display: flex;
    margin: 0% 2% 0% 2%;
}

