.add-log-btn {
    background-color: rgb(133, 228, 109);
    border: none;
    border-radius: 5px;
    margin-top: 2.5%;
    padding: 1.5%;
}

.add-log-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(101, 199, 76);
}

.add-log-btn a {
    color: rgb(75, 71, 68);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.add-log-btn a:hover {
    color: rgb(240, 238, 233);
    transition: 0.1s ease-out;
}

.add-log-btn a:focus {
    color: rgb(75, 71, 68);
    border-bottom: 2px solid;
}

.add-log-btn a:active {
    transition: 0.1s ease-out;
    color: rgb(253, 234, 148);
}

.delete-log-btn {
    cursor: pointer;
    padding: 0.5% 0.7% 0.5% 0.7%;
}

.edit-log-btn {
    cursor: pointer;
    margin-left: 1%;
    margin-right: 0.5%;
    padding: 0.5%;
}

.item-info .rating, 
.item-info .last-date {
    display: inline-block;
    padding: 0% 1.5% 0% 1.5%;
}

.my-logs-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.my-logs-title {
    font-family: 'Roboto', sans-serif;
    margin: 5% 2% 2% 2%;
}
