.add-log-page {
    margin-bottom: 0%;
    padding: 0% 5% 0% 5%;
}

.add-log-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.add-log-text {
    color:  rgb(133, 228, 109);
    cursor: default;
    font-family: 'Roboto', sans-serif;
    margin: 5% 2% 2% 2%;
}

.add-log-back-btn {
    background-color: rgb(51, 48, 46);
    border: 1px solid rgb(133, 228, 109);
    border-radius: 4px;
    margin-right: 5%;
    padding: 1.3%;
}

.add-log-back-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(101, 199, 76);
}

.add-log-back-btn a {
    color: rgb(133, 228, 109);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.add-log-back-btn a:hover {
    color: rgb(240, 238, 233);
    transition: 0.2s ease-out;
}

.add-log-back-btn a:focus {
    color: rgb(102, 202, 77);
    border-bottom: 2px solid;
}

.add-log-back-btn a:active {
    color: rgb(75, 71, 68);
    transition: 0.1s ease-out;
}

.add-log-form-btn {
    color: rgb(75, 71, 68);
    background-color: rgb(133, 228, 109);
    border: 1px solid rgb(133, 228, 109);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1.3%;
}

.add-log-form-btn:hover {
    color: rgb(240, 238, 233);
    background-color: rgb(101, 199, 76);
    transition: 0.2s ease-out;
}
