.edit-log-page {
    margin-bottom: 0%;
    padding: 0% 5% 0% 5%;
}

.edit-log-header {
    padding: 3% 2% 0%;
    text-align: center;
}

.edit-log-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 228, 109);
    cursor: default;
    margin: 5% 2% 2% 2%;
}

.edit-log-back-btn {
    background-color: rgb(51, 48, 46);
    margin-right: 3%;
}

.edit-log-back-btn a {
    font-family: 'Roboto', sans-serif;
}

.edit-log-form-btn {
    background-color: rgb(51, 48, 46);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6%;
}

.required-fields {
    font-family: 'Roboto', sans-serif;
}