* {

  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  color: rgb(240, 240, 240);
}

a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

body {
  background-image: url(img/midRawWoodTexture-seamless.jpg);
  background-repeat: repeat-y repeat-x;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

body p {
  padding: 1% 5%;
}

h1, h2, h3, p {
  margin: 0%;
}

section {
  min-height: 100px;
  padding: 0% 10% 6% 10%;
}

ul {
  padding: 0%;
}

.fa-pencil-alt {
  color: rgb(241, 238, 238);
}

.fa-trash-alt {
  color: rgb(223, 109, 105);
}
