* {
  box-sizing: border-box;
  background-color: rgb(49, 46, 44);
  color: rgb(240, 238, 233);
}

a, h1 {
  color: rgb(255, 225, 94);
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

body p {
  padding: 1% 5%;
}

h1, h2, h3, p {
  margin: 0%;
}

section {
  min-height: 100px;
  padding: 0% 10% 6% 10%;
}
