.delete-log-btn {
    cursor: pointer;
    padding: 0.5% 0.7% 0.5% 0.7%;
}

.edit-log-btn {
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
}

.food-img {
    width: 60%;
}

.item-info .rating, 
.item-info .last-date {
    display: inline-block;
    padding: 0% 1.5% 0% 1.5%;
}

.log-name {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 228, 109);
    font-size: 1.8em;
    margin-bottom: 0.5%;
}

.eatery-name {
    font-size: 1.3em;
    margin-bottom: 1%;
}

.ordered-text,
.rating-text,
.last-date-text {
    font-weight: bold;
}
